# macOS
.DS_STORE

# IDEA
*.iml
*.ipr
*.iws
.idea/

# Yarn
.yarn

# Node
node_modules
package-lock.json
*.log

# Environment
.env

# Sass
.sass-cache/

# Hitask
coverage
dist/*

# JavaScript Studio
.studio

# Webpack
*.hot-update.js
*.hot-update.json

# Bugsnag
bugsnag-sourcemap*

# JSDoc
docs

# Puppeteer
screenshots/**

# Prettier
*.json
*.css
*.md
