[data-loader='ball-fade'] {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	-webkit-animation: 1.2s ball-fade infinite cubic-bezier(0.78, 0.14, 0.15, 0.86) 0.2s;
	-o-animation: 1.2s ball-fade infinite cubic-bezier(0.78, 0.14, 0.15, 0.86) 0.2s;
	animation: 1.2s ball-fade infinite cubic-bezier(0.78, 0.14, 0.15, 0.86) 0.2s;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0);
}

[data-loader='ball-fade']::before,
[data-loader='ball-fade']::after {
	position: absolute;
	width: 15px;
	height: 15px;
	content: '';
	-webkit-animation: 1.2s ball-fade infinite cubic-bezier(0.78, 0.14, 0.15, 0.86);
	-o-animation: 1.2s ball-fade infinite cubic-bezier(0.78, 0.14, 0.15, 0.86);
	animation: 1.2s ball-fade infinite cubic-bezier(0.78, 0.14, 0.15, 0.86);
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0);
}

[data-loader='ball-fade']::before {
	left: -20px;
}

[data-loader='ball-fade']::after {
	right: -20px;
	-webkit-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@-webkit-keyframes ball-fade {
	0% {
		background-color: $color-brand;
	}

	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}

@-moz-keyframes ball-fade {
	0% {
		background-color: $color-brand;
	}

	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}

@-o-keyframes ball-fade {
	0% {
		background-color: $color-brand;
	}

	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}

@keyframes ball-fade {
	0% {
		background-color: $color-brand;
	}

	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}

[data-loader='circle'] {
	width: 25px;
	height: 25px;
	-webkit-animation: circle infinite 0.75s linear;
	-moz-animation: circle infinite 0.75s linear;
	-o-animation: circle infinite 0.75s linear;
	animation: circle infinite 0.75s linear;
	border: 2px solid $color-brand;
	border-top-color: transparent;
	border-radius: 100%;
}

@-webkit-keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.bootstrap-preload-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
