@import 'imports';

.dateInput {
	:global(.pt-datepicker-caption) {
		font-size: 1.4rem;
	}

	:global(.DayPicker-NavButton) {
		font-size: 1rem;
		line-height: 2rem;
	}

	:global(.DayPicker-Day--today) {
		@include color-theme(0) {
			color: $hi-red2;
		}
	}
}
