$grey1: #b0b0b0;
$grey2: #e0e0e0;
$grey3: #323232;
$grey4: #e5e5e5;
$grey5: #616161;
$lightGrey: #f3f3f3;
$lightGrey2: #efeded;
$lightGrey3: #e7e8ea;
$lightGrey4: #f5f5f5;
$lightGrey5: #cdcdcd;
$lightGrey6: #f7f7f7;
$lightGrey7: #e4e5e6;
$lightGrey8: #f1f2f3;
$darkGrey: #8d8d8d;
$cloud: #cccccc;
$white: #ffffff;
$lightBlue: #e4f0f9;
$blueHighlight: #79b2df;
$steelBlue: #9fbccd;
$stone: #476c81;
$silverLining: #f6f6f6;
$green: #46cf73;
$lightGreen: #52db85;
$darkGreen: #258445;
$black: #000000;
$blue1: #79b2df;
$blue2: #ccd9e1;
$red1: #f48888;
$red2: #f69999;
$red3: #fc4b53;
$blueGreen: #28ceb3;
$blueGreenLight: #4ed8c4;
$blueGrey: #a2b8c8;
$hoverGrey: #c4d2da;
$greyImportBack: #f0f4f7;
$greyImportText: #a2b8c8;

$primaryColor: $blueGreen;
$primaryColorHover: $blueGreenLight;

$backgroundApp: $lightGrey;
$importBackground: $greyImportBack;
$importLabel: $greyImportText;
$backgroundElements1: $white;
$backgroundElements2: $lightBlue;
$cross1: $steelBlue;
$cross2: $stone;
$border1: $silverLining;
$border3: $grey2;
$successButton1: $green;
$successButton2: $lightGreen;
$successButton3: $darkGreen;
$successButtonLabel: $white;
$primaryButtonLabel: $white;
$cancelButtonLabel1: $grey1;
$cancelButtonLabel2: $black;
$secondaryButton: $blueGrey;
$secondaryButtonLabel: $white;
$secondaryButtonHover: $hoverGrey;
$closeButton1: $red1;
$closeButton2: $red2;
$closeButtonLabel: $white;
$secondaryText1: $darkGrey;
$secondaryText2: $black;
$hintText: $grey1;
$icon1: $cloud;
$icon2: $grey2;
$icon3: $grey5;
$icon4: $blue1;
$icon5: $grey3;
$counterColor: $blue1;
$separatorColor: $grey2;
$teamMemberBorderColor: $grey2;
$teamMemberHoverColor: $lightGrey6;
$buttonAddBorderColor: $blue1;
$popoverBorderColor: $blue2;
$ghostButton1: $grey2;
$ghostButton2: $blue1;
$inputBorder: $grey4;
$inputBorderActive: $blueHighlight;

$tabBottom: $lightGrey;
$tabActive: $blue1;
$tabHover: $black;
$tabColor: $darkGrey;

$dropDownBorder1: $grey2;
$dropDownBorder2: $blue1;
$dropDownLabelBackground: $lightGrey8;
$dropDownLabelHover: $lightGrey7;

$itemBorderColor: $lightGrey2;
$itemBorderActiveColor: $blue1;
$itemBackgroundColor: $white;
$itemBackgroundActiveColor: $lightGrey3;
$itemActionsBackgroundColor: $lightGrey4;
$itemActionsBorderColor: $lightGrey5;
$itemIconColor: $darkGrey;
$itemIconActiveColor: $blue1;
$itemDateColor: $darkGrey;
$itemIconRedColor: $red3;

$itemListHeaderDefaultColor: $black;

$timeAnimExpand: 0.6s;
$timeAnimCollapse: 0.25s;
