$central-header-animation-duration: 300ms;
$central-header-animation-ease: ease-in-out;

$toolbar-mini-height: 3.3rem;

$item-form-field-outter-width: 37rem;
$item-form-field-innder-width: $item-form-field-outter-width - 3rem;
