/**
 * Paths
 *
 * @param {String} $path-icons Icons path
 * @param {String} $path-image Image path
 * @param {String} $path-font  Custom font path
 */

$path-icons: '/icons';
$path-image: '/images';
$path-fonts: '/fonts';
