@import 'imports';

$row-height: $pt-input-height;
$control-indicator-width: 20px;
$control-indicator-border-radius: $pt-border-radius;
$control-indicator-selected-border-offset: $control-indicator-border-radius - 1px;

.select {
	&::after {
		content: '';
		clear: both;
		display: table;
	}
}

.helpText {
	display: inline-block;
	line-height: $row-height;
	float: left;
}

.button {
	float: left;
	min-width: $control-indicator-width;
	min-height: $control-indicator-width;
	line-height: $control-indicator-width;
	margin-top: ($row-height - $control-indicator-width) / 2;
	margin-right: 1.5rem;
	margin-bottom: ($row-height - $control-indicator-width) / 2;
}

.inputGroup {
	display: inline-block;
	height: $row-height;
	float: left;
}

.control {
	margin-bottom: 0;
	top: 50%;
	transform: translateY(-50%);
	height: $control-indicator-width;
	padding-left: $control-indicator-width;

	&:global(.pt-inline) {
		margin-right: 1.5rem;
	}

	:global(.pt-control-indicator) {
		width: $control-indicator-width;
		height: $control-indicator-width;
		box-shadow: none;
	}

	&:global(.pt-radio) {
		:global(.pt-control-indicator) {
			border-radius: $control-indicator-border-radius;
		}

		input ~ :global(.pt-control-indicator) {
			&::before {
				content: '';
				position: absolute;
				left: -$control-indicator-selected-border-offset;
				top: -$control-indicator-selected-border-offset;
				width: $control-indicator-width + $control-indicator-selected-border-offset * 2;
				height: $control-indicator-width + $control-indicator-selected-border-offset * 2;
				border-width: 1px;
				border-style: solid;
				border-color: inherit;
				border-radius: $control-indicator-border-radius;
				opacity: 0;
				transition: opacity $pt-transition-duration $pt-transition-ease;
			}
		}

		input:checked ~ :global(.pt-control-indicator) {
			box-shadow: none;

			&::before {
				opacity: 1;
			}
		}
	}

	&:hover {
		input:not(:disabled) ~ :global(.pt-control-indicator) {
			box-shadow: none;
		}
	}
}
