@import 'imports';

.contentWrapper {
	position: relative;
	padding-top: 14rem;
}

.content {
	background: $white;
	text-align: center;
	margin: 0 auto;
	min-height: 40rem;
	max-width: 67rem;
	position: relative;
	box-shadow: 0 6rem 12rem rgba($color-shadow, 0.15);
	border-radius: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
